
body {
    margin: 0;
    background-color: black;
    color: white;
    border: none;
    height: 100vh;
}

h1 {
    margin-bottom: 20px;
    font-size: 5vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    justify-content: center;
}

h3 {
    font-size: 4vh;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
}

main {
    font-family: Arial, Helvetica, sans-serif;
}

.imagem-principal{
    border: 2px solid aquamarine;
    border-radius: 20px;
    margin-top: 20vh;
    margin-left: 50vh;
    height: 70vh;
    width: 130vh;
}

button {
    height: 0px;
    width: 0px;
    background: none;
    border: none;
}

.insta {
    margin-left: 173.4vh;
    height: 60px;
}

.github {
    margin-left: 182vh;
    margin-top: 1vh;
    margin-bottom: 11px;
    width: 40px;
    height: 36.5px;
}

.palavraForte {
    color: aquamarine;
}

footer {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 40vh;
}

.textoDeRedeSocial {
    margin-left: 177vh;
    margin-top: 0vh;
    margin-bottom: 2vh;
}

div{
    color: black;
    background-color: aquamarine;
}

